@model MoviesViewModel

<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div id="detailsImg" class="col-md-4 animate-box">
                <img src="@Model.SelectedMovie.Poster" />

                <ul id="detailsList">
                    <li><p>Likes<p id="likes">@Model.SelectedMovie.numberOfLikes</p></p></li>
                    <li><p>Dislikes<p id="dislikes">@Model.SelectedMovie.numberOfDislikes</p></p></li>
                </ul>
                <ul id="detailsList">
                    <li><button id="thumbs-up" value="like"><a class="icon-thumbs-up"></a></li></button>
                    <li><button id="thumbs-down" value="dislike"><a class="icon-thumbs-down"></a></li></button>
                </ul>
                <blockquote id="messageLike"></blockquote>
            </div>

            <div id="detailsUpper" class="col-md-5 col-md-push-1 animate-box">
                <div>
                    <h2>@Model.SelectedMovie.Title</h2>
                    <p id="plot">@Model.SelectedMovie.Plot</p>
                    <a id="se-more" hidden>See more</a>
                    <p><span style="font-weight: bold;">Runtime:</span> @Model.SelectedMovie.Runtime</p>
                    <p><span style="font-weight: bold;">Genre:</span> @Model.SelectedMovie.Genre</p>
                    <p><span style="font-weight: bold;">Actors:</span> @Model.SelectedMovie.Actors</p>
                    <p><span style="font-weight: bold;">Director:</span>@Model.SelectedMovie.Director</p>
                </div>
            </div>
        </div>
        <div id="detailsLower" class="row">
            <div class="animate-box">
                <p><span style="font-weight: bold;">Released:</span> @Model.SelectedMovie.Released</p>
                <input id="hidden-imdbid" type="hidden" value="@Model.SelectedMovie.ImdbID" />
            </div>
        </div>
    </div>
</div>

<!-- Like JS -->
<script src="~/js/likesHandler.js"></script>
<!-- Expand plot JS -->
<script src="~/js/plotHandler.js"></script>