@model MoviesViewModel

<div class="gtco-section">
    <div class="gtco-container">
        <div class="row">
            <div class="col-md-4 animate-box" style="width:300px;">
                <img src="" />
            </div>
            <div class="col-md-5 col-md-push-1 animate-box">

                <div class="col-md-4">
                    @foreach (var movie in Model.movies)
                    {
                        <form asp-action="Index" asp-controller="Details" method="get">
                            <img src="@movie.Poster" />
                            <h2>@movie.Title</h2>
                            <p><span style="font-weight: bold;">Year: </span>@movie.Year</p>
                            <p><span style="font-weight: bold;">Plot: </span>@movie.Plot</p>
                            <p><button class="btn btn-primary btn-outline" type="submit">@Html.ActionLink("More", "Index", "Details", new { id = movie.ImdbID }, null)</button></p>
                            <br />
                        </form>
                    }
                </div>

            </div>
        </div>
    </div>
</div>